# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Sklearn
4. Keras

Data Science Tools

| Data Science Tools |
| ------------- |
| Jupyter |
| MongoDB |
| Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [19]:
 #This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [21]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Objectives:
* Python
* C++
* R
* SQL
* Ruby
* Lisp

## Auther
Youssef